 <div id="visit">
      <h2>Deenamit Media</h2>
      <p>The Intensol Media Server family of products has become the industry-leading solution for streaming video and real-time communication. The ubiquity of the Intensol Median Platform provides a rich viewing experience across virtually all operating systems and screens through integration with the Intensol Median Player runtime, adopted on more than 98% of computer screens worldwide. </p>
    </div>
    <div id="subs">
      <div id="subs-left">
        <h3>Compant Information &amp; Profile</h3>
        <p>We are Intensol LLC, software developing company. We devote ourselves to analytical researches in social networking, so our products are positioned as instruments for active social users' better work and communication in different social networks. Visit <%=link_to "http://www.intensol.com"%></p>
        <h3>How to Buy</h3>
        <p>Now we support only PayPal</p>
        <h3>Other Company Services</h3>
        <p>This is just a place holder so you can see how the site would look like.</p>
      </div>
      <div id="subs-right">
        <h3>Browse</h3>
        <ul>
          <li>
            <h4>Security Tips</h4>
            <p>This is just a place holder so you can see how the site would look like.</p>
          </li>
          <li>
            <h4>Video Encoding</h4>
            <p>This is just a place holder so you can see how the site would look like.</p>
          </li>
          <li>
            <h4>Corporative media solutions</h4>
            <p>This is just a place holder so you can see </p>
          </li>
        </ul>
      </div>
    </div>